In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# series

In [ ]:
country = ['india', 'pakistan', 'usa','nepal','sirlanka']

pd.Series(country)

0       india
1    pakistan
2         usa
3       nepal
4    sirlanka
dtype: object

In [ ]:
#integer
runs = [13,24,25,16]
pd.Series(runs)

0    13
1    24
2    25
3    16
dtype: int64

In [ ]:
#customer index
marks = [12,13,14]
subject = ['math','secience','english']
pd.Series(marks,index=subject)

math        12
secience    13
english     14
dtype: int64

In [ ]:
marks = pd.Series(marks,index=subject,name = 'Ali ')
marks

math        12
secience    13
english     14
Name: Ali , dtype: int64

In [ ]:
#dict series
marks = {
    'math' : 67,
    'english': 57,
    'science' : 89,
    'hindi' : 100
}
marks_series = pd.Series(marks,name='Ali')
marks_series

math        67
english     57
science     89
hindi      100
Name: Ali, dtype: int64

In [ ]:
#series attributes

In [ ]:
#size
marks_series.size

4

In [ ]:
#dtype
marks_series.dtype

dtype('int64')

In [ ]:
#is_unique
marks_series.is_unique

True

In [ ]:
#index
marks_series.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [ ]:
#values
marks_series.values

array([ 67,  57,  89, 100])

In [ ]:
#series using read_csv

In [28]:
#with 1 columns
subs = pd.read_csv ('/content/subs.csv')

In [30]:
series = subs.squeeze()
print(series)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [33]:
# 2 colums series
koli = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no')
series_2 = koli.squeeze()
print(series_2)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [34]:
# 3 colums series
bollywood = pd.read_csv('/content/bollywood.csv', index_col='movie')
series_3 = bollywood.squeeze()
series_3

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [ ]:
#series method

In [35]:
#head _ tail ()
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [36]:
#tail
bollywood.tail()

                                    lead
movie
Hum Tumhare Hain Sanam    Shah Rukh Khan
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar

In [38]:
#sample randomly
bollywood.sample()

                                 lead
movie
Sonu Ke Titu Ki Sweety  Kartik Aaryan

In [39]:
# value count
bollywood.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Naveen Bawa          1
Naushaad Abbas       1
Nauheed Cyrusi       1
Natalia Janoszek     1
Nishikant Kamat      1
Name: count, Length: 566, dtype: int64

In [53]:
#sort vlaues ->> inplace

series_2.sort_values(ascending=False)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [58]:
#sort index
series_3.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [ ]:
#series math method

In [60]:
#count
series_2.count()

np.int64(215)

In [61]:
#sum
series.sum()

np.int64(49510)

In [63]:
series_2.mean()

np.float64(30.855813953488372)

In [ ]:
#descive summary

In [64]:
series.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [ ]:
#series indexing

In [65]:
#integer index
x = pd.Series([12,13,14,15,16,17,18,19,20])
x[1]

np.int64(13)

In [68]:
x[1:3]

1    13
2    14
dtype: int64